@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body, #root {
		height: 100%;
	}

	body {
		font-family: 'Sora', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
		color: #8B4513; /* default brown text */
		background-color: #FFF5E6; /* cream background fallback */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
